name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: "Deploy with rsync"
        uses: burnett01/rsync-deployments@7.1.0
        with:
          switches: -avzr --delete
          path: .
          remote_path: ${{ vars.REMOTE_PATH }}
          remote_host: ${{ vars.SSH_HOSTNAME }}
          remote_user: ${{ vars.SSH_USERNAME }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
